<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rhok_explorers.littleexplorer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.rhok_explorers.littleexplorer.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rhok_explorers.littleexplorer.Percorsi"
            android:label="@string/title_activity_percorsi" >
        </activity>
        <activity
            android:name="com.rhok_explorers.littleexplorer.Diario"
            android:label="@string/title_activity_diario" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.vi2.18:4E:57:18:BD:D0:03:F3:54:6B:04:74:F8:B7:BB:90:C9:67:45:16"
            android:value="18:4E:57:18:BD:D0:03:F3:54:6B:04:74:F8:B7:BB:90:C9:67:45:16" />

        <receiver
            android:name="com.rhok_explorers.littleexplorer.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service android:name="com.rhok_explorers.littleexplorer.GcmIntentService" >
        </service>

        <activity
            android:name="com.rhok_explorers.littleexplorer.DettaglioPercorso"
            android:label="@string/title_activity_dettaglio_percorso" >
        </activity>
       
        <activity
            android:name="com.rhok_explorers.littleexplorer.Cartina"
            android:label="@string/title_activity_cartina" >
        </activity>
        <uses-library android:name="com.google.android.maps"/>
    </application>

</manifest>
